/* Configurações Gerais */
* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    --cor-cineflex: #E8833A;
    --cor-bg-header-e-footer: #C3CFD9;
    --cor-titulo-da-pagina: #293845;
    --cor-bg-poster: #FFFFFF;
    --cor-bg-sessao: #E8833A;
    --cor-ft-sessao: #FFFFFF;
    --cor-info-footer: #293845;
    --cor-assento-disponivel: #C3CFD9;
    --cor-assento-indisponivel: #FBE192;
    --cor-assento-selecionado: #8DD7CF;
    --cor-borda-assento-disponivel: #7B8B99;
    --cor-borda-assento-indisponivel: #F7C52B;
    --cor-borda-assento-selecionado: #1AAE9E;
    --cor-texto-legenda: #4E5A65;
    --cor-bg-botao-reservar: #E8833A;
    --cor-texto-botao-reservar: #FFFFFF;
    --cor-label-info-comprador: #293845;
    --cor-input-placeholder: #AFAFAF;
}

button {
    border: none;
}
