/* Configurações Gerais */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    --cor-cineflex: #E8833A;
    --cor-bg-header-e-footer: #C3CFD9;
}
