/* Configurações Gerais */
* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    --cor-cineflex: #E8833A;
    --cor-bg-header-e-footer: #C3CFD9;
    --cor-titulo-da-pagina: #293845;
    --cor-bg-poster: #FFFFFF;
    --cor-bg-sessao: #E8833A;
    --cor-ft-sessao: #FFFFFF;
    --cot-info-footer: #293845;
}
